<app-header backButton="/main/home" title="StudyBook"></app-header>

<ion-content class="fondo">
 
    <form [formGroup]="form" class="login-form" (ngSubmit)="updatePassword()">

          <ion-item>
            <ion-label>Selecciona el correo</ion-label><br>
            <ion-select formControlName="email">
              <ion-select-option *ngFor="let email of emails" [value]="email">{{ email }}</ion-select-option>
            </ion-select>
          </ion-item>
      
          <ion-item>
            <ion-label position="floating">Nueva Contraseña</ion-label><br>
            <ion-input type="password" formControlName="newPassword"></ion-input>
          </ion-item>
      
          <ion-button color="danger" expand="block" mode="ios" type="submit" [disabled]="form.invalid">Actualizar contraseña</ion-button>
   
   </form>
   

</ion-content>
